<!-- <div class="container-fluid menu-div">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon><br>
            <span>Home</span>
        </button>
        <button mat-menu-item>
            <mat-icon aria-hidden="false" aria-label="Profile icon">person</mat-icon>
            <span>Profile</span>
        </button>
    </mat-menu>
</div> -->




<!-- <div class="header">
    <div class="header__icons">

        <div class="header__icon--active">
            <p>Home</p>
        </div>

        <div class="header__icon">
            <p>Account</p>
        </div>

    </div>

</div> -->