<div class="nav">
    <div class="menu-div">
        <button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu Button">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-menu-item>
                <mat-icon aria-hidden="false" aria-label="Profile icon">person</mat-icon>
                <span>Profile</span>
            </button>
        </mat-menu>
    </div>
    <h2 (click)="fetchDataAgain('Trending')">Trending</h2>
    <h2 (click)="fetchDataAgain('Top Rated')">Top Rated</h2>
    <h2 (click)="fetchDataAgain('Action')">Action</h2>
    <h2 (click)="fetchDataAgain('Comedy')">Comedy</h2>
    <h2 (click)="fetchDataAgain('Horror')">Horror</h2>
    <h2 (click)="fetchDataAgain('Romance')">Romance</h2>
    <h2 (click)="fetchDataAgain('Mystery')">Mystery</h2>
    <h2 (click)="fetchDataAgain('Sci-Fi')">Sci-Fi</h2>
    <h2 (click)="fetchDataAgain('Western')">Western</h2>
    <h2 (click)="fetchDataAgain('Animation')">Animation</h2>
    <h2 (click)="fetchDataAgain('Movie')">TV</h2>
</div>
<app-results [movies]="movies"></app-results>